@import variables
  
.button
  border-radius: 4px
  color: $zinc-800
  font-size: 14px
  line-height: 150%
  text-transform: uppercase
  transition: all 0.3s ease-in-out

.button--regular
  background-color: $teal-300
  border: 0
  cursor: pointer
  letter-spacing: 1.4px
  padding: 12px 32px
  width: 100%
  &:hover
    background-color: $teal-500

.button--small
  align-items: center
  border: 1px solid $zinc-400
  display: flex
  flex-shrink: 0
  padding: 8px 0 8px 24px
  width: 158px
  span
    margin-right: 8px
  img
    transition: all 0.3s ease-in-out
  &:hover
    border: 1px solid $zinc-800
    img
      transform: translateX(4px)

@media (min-width: 768px)
  .button--regular
    width: auto
