@import variables
@import animations


.chat__button--toggle
  position: fixed
  right: 32px
  bottom: 32px
  width: 48px
  height: 48px
  transition: .3s linear
  border: 0
  border-radius: 50%
  background-color: $zinc-800
  cursor: pointer

  &:hover
    background-color: $teal-300

    & > svg
      & > path
        transition: .3s linear
        stroke: $zinc-800

.chat__button--toggle__svg
  display: block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.chat--container
  display: flex
  position: fixed
  right: 32px
  bottom: 96px
  flex-direction: column
  flex-shrink: 0
  align-items: flex-start
  justify-content: space-between
  width: 386px
  height: min(409px, calc(95vh - 96px))
  padding: 32px 16px 16px
  transition: .3s linear
  border: 1px solid $zinc-800
  border-radius: 32px
  background: $white
  opacity: 0
  z-index: 100
  animation: appear .3s linear forwards
  gap: 16px

.chat--container--closing
  animation: disappear .3s linear forwards

.chat__header
  display: flex
  flex-direction: column
  width: 100%
  margin-bottom: 16px
  border-bottom: 1px solid $zinc-800
  gap: 16px
  padding-inline: 16px

.chat__header--toggle
  display: flex
  align-items: center
  justify-content: space-between

.chat__avatar--large
  position: relative
  width: 40px
  height: 40px
  border-radius: 50%
  background: $zinc-800

  & > img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.chat__header--toggle__button
  display: flex
  align-items: center
  padding: 4px 8px
  border: 1px solid $zinc-200
  border-radius: 8px
  background: $white
  color: $zinc-800
  cursor: pointer
  gap: 8px

.chat__header--salutation
  font-family: 'Inter'
  font-size: 1.25rem
  font-style: normal
  font-weight: 400
  line-height: 320%

.chat--container--large
  height: min(700px, calc(95dvh - 96px))

.chat__form
  display: flex
  justify-content: space-between
  width: 100%
  gap: 8px

.chat__input
  width: 100%
  height: 40px
  border: 1px solid $zinc-400
  border-radius: 16px
  font-family: 'Inter'
  font-size: .75rem
  font-style: normal
  font-weight: 400
  padding-inline: 16px

  &::placeholder
    color: $black

  &:focus
    border: 1px solid $teal-500
    outline: none

.chat__button
  position: relative
  min-width: 50px
  height: 40px
  border: 0
  border-radius: 16px
  background: $teal-300

  &:hover
    background: $teal-500

    & > .chat__button__img
      animation: bounce .4s linear forwards

.chat__button__img
  display: block
  position: absolute
  top: 11px
  left: 15px
    
.bounce-back
  animation: bounce-back .4s linear forwards

.chat__viewport--container
  display: flex
  flex-direction: column-reverse
  width: 100%
  height: 100%
  overflow-y: auto

.chat__viewport
  display: flex
  flex-direction: column
  width: 100%
  gap: 16px

.chat__message--user,
.chat__message--bot
  width: fit-content
  max-width: 80%
  font-family: 'Inter'
  font-size: .75rem

.chat__message--user
  align-self: flex-end
  padding: 8px 16px
  border: 1px solid $zinc-300
  border-radius: 16px 16px 0

.chat__message--bot
  display: flex
  align-items: flex-start
  gap: 4px

  & > p
    padding: 8px 16px
    border-radius: 0 16px 16px
    background: $zinc-200

.chat__message--date
  align-self: center
  padding: 4px 8px
  border: 1px solid $zinc-200
  border-radius: 8px
  color: $zinc-800
  font-family: 'Inter'
  font-size: .625rem

.chat__history--placeholder
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  transition: .3s linear

  & > p
    display: flex
    color: $zinc-400
    font-size: .75rem
    gap: 4px

.chat__history--placeholder-small
  height: 150px

.chat__history--placeholder-large
  height: 440px

@media (max-width: 768px)
  .chat--container
    display: flex
    right: 16px
    bottom: 80px
    width: 90%
    padding: 32px 16px 16px

  .chat__button--toggle
    right: 16px
    bottom: 16px
