@import variables
@import animations

.hero--container
  align-items: center
  display: flex
  flex-direction: column
  height: 100vh
  justify-content: space-between
  padding-block: 42px
  position: relative
  ::before
    background: linear-gradient($zinc-seethrough, $zinc-seethrough), url('../assets/bg-picture.png')
    background-position: center
    background-size: cover
    content: ""
    filter: blur(0.8px) grayscale(100%)
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: -1

.header--container
  align-items: center
  display: flex
  justify-content: space-between
  width: 100%

.header__anchors
  display: flex

.header__ul
  display: flex

.header__li
  list-style: none
  margin-right: 32px
  &:last-of-type
    margin-right: 0

.header__anchor
  border-bottom: 1px solid transparent
  color: $white
  cursor: default
  font-size: 1rem
  position: relative
  transition: all 0.3s ease-in-out
  &:hover::after
    animation: appear 0.3s linear
    background: $white
    bottom: 1px
    content: ''
    display: block
    height: 1px
    position: absolute
    width: 100%

.header__anchor__fade::after
  animation: disappear 0.3s linear forwards
  background: $white
  bottom: 1px
  content: ''
  display: block
  height: 1px
  position: absolute
  width: 100%

.img--logo
  height: 46px

.hero--content
  align-self: flex-start
  color: $white
  width: 330px

.hero--title
  font-size: 3.5rem
  font-weight: 700
  letter-spacing: -0.44px
  line-height: 4.5rem
  text-align: left
  .bodoni
    font-size: 3.5rem * 1.05 // This is needed because the font is a bit smaller than the Roboto font. https://www.semprocesso.com.br/brand/tipografia
    letter-spacing: -1.095px


@media (min-width: 768px)

  .hero--content
    width: 640px

  .hero--title
    font-size: 4rem
    letter-spacing: -0.96px
    .bodoni
      font-size: 4rem * 1.05 // This is needed because the font is a bit smaller than the Roboto font. https://www.semprocesso.com.br/brand/tipografia
