@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800&family=Inter&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap')
@import variables
// this custom font is necessary because Google Fonts doesn't have the same version of Bodoni indicated in https://www.semprocesso.com.br/brand/tipografia
@font-face
  font-family: 'Bodoni'
  font-style: normal
  font-weight: normal
  src: url('../assets/fonts/Bodoni_/Woff/Bodoni-11-Book-Italic.woff') format('woff')

*
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0


// utility classes

.bodoni
  font-family: 'Bodoni', 'Bodoni Moda', serif
  font-style: italic
  font-weight: normal

.strike-through
  text-decoration: line-through 2px

.italic
  font-style: italic

.semi-bold
  font-weight: 500

.bold
  font-weight: 600

.extra-bold
  font-weight: 700

.paragraph
  font-size: 1.125rem
  font-style: normal
  letter-spacing: -0.27px
  line-height: 1.875rem
  margin-block: 16px

.zinc-800
  color: $zinc-800

.soft-black
  color: $soft-black

.white
  color: $white

.no-decoration
  text-decoration: none

.page-padding
  padding-inline: 30px

.al-item-center
  align-items: center

.justify-center
  justify-content: center

.flex-col
  flex-direction: column

.light-gray-bg
  background-color: $light-gray

.w100
  width: 100%

@media (min-width: 768px)

  .page-padding
    padding-inline: 100px
