.section--container
  padding-inline: 30px 
  margin-block: 80px
  
.section--title
  font-size: 2rem
  line-height: 4rem
  letter-spacing: -0.48px

.article--container
  margin-bottom: 32px
  &:first-of-type
    margin-top: 80px
  &:last-of-type
    margin-bottom: 0

.article--title
  font-size: 1.5rem
  line-height: 2.5rem
  letter-spacing: -0.36px
  margin-bottom: 16px