$teal-300: #5DFED6
$teal-500: #45e6bf
$zinc-800: #343434
$zinc-700: #4F4F4F
$zinc-600: #828282
$zinc-400: #C4C4C4
$zinc-300: #E5E5E5
$zinc-200: #EFEFEF
$zinc-seethrough: #1E1E1E77
$red-500: #ef4444
$white: #FFF
$black: #000
$soft-black: #000000cc
$light-gray: #F8F8F8
$modal-bg-color: #34343480
$radial-bg-big-screen: radial-gradient(25.08% 41.67% at 30.63% 88.91%, #5DFED6 0%, rgba(93, 254, 214, 0.00) 100%)
$radial-bg-small-screen: radial-gradient(54.98% 51.99% at 0% 100%, #5DFED6 0%, rgba(93, 254, 214, 0.00) 100%)