$teal-300: #5dfed6
$teal-500: #45e6bf
$zinc-800: #343434
$zinc-700: #4f4f4f
$zinc-600: #828282
$zinc-400: #c4c4c4
$zinc-300: #e5e5e5
$zinc-200: #efefef
$zinc-seethrough: #1e1e1e77
$red-500: #ef4444
$white: #fff
$black: #000
$soft-black: #000000cc
$light-gray: #f8f8f8
$modal-bg-color: #34343480
$radial-bg-big-screen: radial-gradient(25.08% 41.67% at 30.63% 88.91%, #5dfed6 0%, rgba(93, 254, 214, 0) 100%)
$radial-bg-small-screen: radial-gradient(54.98% 51.99% at 0% 100%, #5dfed6 0%, rgba(93, 254, 214, 0) 100%)
