.video--container
  height: 190px
  width: 100%

@media (min-width: 688px)

  .video--container
    height: 340px

@media (min-width: 1024px)

  .video--container
    height: min(20vw, 360px)
    width: min(35vw, 640px)
