@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap')

// this custom font is necessarybecause Google Fonts doesn't have the same version of Bodoni indicated in https://www.semprocesso.com.br/brand/tipografia
@font-face
  font-family: 'Bodoni'
  font-style: normal
  font-weight: normal
  src: url('./assets/fonts/Bodoni_/Woff/Bodoni-11-Book-Italic.woff') format('woff')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif

.bodoni
  font-family: 'Bodoni', serif
  font-weight: normal
  letter-spacing: -1.185px
